/*
Would be great if we could learn anything other than basic HTML and tables...
*/
table {
    border-collapse: collapse;
    border: 1px solid #395c6b;
}
body {
    margin: 0;
}

.content {
    margin: 10px;
}

th {
    background-color: #395C6B;
    color: #EEE;
    font-style: italic;
}

td {
    background-color: #BCD3F2;
    border: 1px solid #395C6B;
    padding: 8px;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3a3a3a;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: #CCC;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
}

table.calendar td:nth-child(6n+1) {
    background-color: #8eb0de;
}

table.calendar tr td {
    padding: 25px;
    vertical-align: top;
    text-align: left;
}